.contact-container {
  padding: 30px;
  font-family: sans-serif;
}

.extra{
    height: 50px;
    background-color: #d8d8d8;
    padding: 10px 70px;
    color: #111111;
    font-weight: 500;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .cards-wrapper {
    flex-direction: row;
  }
}

.contact-card {
  height: 170px ;
  flex: 1;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-list {
  list-style-type: disc;
  padding-left: 20px;
  color: #444;
  font-size: 14px;
}

.card-text {
  font-size: 14px;
  color: #444;
  line-height: 1.6;
}

.gallery-container {
  padding: 100px 10px;
  display: flex;
  justify-content: center;
}

.gallery-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-images img {
  width: 230px;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
  border: 4px solid #444;
}

.rotate-left {
  transform: rotate(-5deg);
}

.rotate-right {
  transform: rotate(5deg);
}

.center-image {
  transform: rotate(0deg);
}