* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mangaon-section {
  margin: 60px auto;
  padding: 5px 25px;
  max-width: 900px;
  text-align: center;
  background-color: #f7f9fc;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.mangaon-section h2 {
  font-size: 28px;
  color: #222;
  margin-bottom: 15px;
  font-weight: 600;
}

.mangaon-section p {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 18px;
}

.mangaon-section .btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 30px;
  text-decoration: none;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

h4 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  text-align: left;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  color: #333;
}

.grid {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.cardss {
  height: 320px;
  background-color: #003346;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.cardss:hover {
  transform: translateY(-5px);
}

.cardss img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4 / 3;
}

.card-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content p {
  font-size: 0.95rem;
  color: #fff;
  text-align: initial;
    line-height: 1.5;
}

@media (max-width: 360px) {
  .card-content p {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .mangaon-section {
    padding: 30px 18px;
    margin: 40px 15px;
  }

  .mangaon-section h2 {
    font-size: 22px;
  }

  .mangaon-section p {
    font-size: 15px;
  }
}